__pycache__/
*.pyc
.venv/
venv/
.env/
.DS_Store
.idea/
.vscode/
.pytest_cache/
.coverage
htmlcov/
.js_coverage/
coverage/
.hypothesis/
ml/data/
# ml/runs/
# ml/mlruns/
# ml/mlflow.db
yolo26n.pt
actions-runner/
google_key.json